# Copia este archivo a .env.local y rellena con los datos de tu proyecto Supabase
# (Supabase Dashboard -> Project Settings -> API)
VITE_SUPABASE_URL=hhttps://vvkwwtcxvkazmwunhpdi.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_7JqJm0LzqncuZah5bsm_ZA_sQUmAa8Q
